@mixin button-styles($button-color, $button-states-color) {
  background-color: $button-color;
  border-color: $button-color;
  color: $white-color;
  @include opacity(1);

  &:hover,
  &:focus,
  &:active,
  &.active,
  &:active:focus,
  &:active:hover,
  &.active:focus,
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle {
    background-color: $button-states-color;
    color: $white-color;
    border-color: $button-states-color;
    box-shadow: none;
  }

  .caret {
    border-top-color: $white-color;
  }

  &.disabled,
  &:disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $button-states-color;
      border-color: $button-states-color;
    }
  }

  &.button-link {
    color: $button-color;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &:focus:active,
    .open > &.dropdown-toggle {
      background-color: $transparent-bg !important;
      color: $button-states-color !important;
    }

    // .caret{
    //     border-top-color: $button-color;
    // }
  }

  // .caret{
  //   border-top-color: $white-color;
  // }
}

// @mixin button-variant(
//   $background,
//   $border,
//   $color: $white,
//   //color-contrast($background)
//   $hover-background:
//     if(
//       $color == $color-contrast-light,
//       tint-color($background, $button-hover-bg-tint-amount),
//       shade-color($background, $button-hover-bg-shade-amount)
//     ),
//   $hover-border:
//     if(
//       $color == $color-contrast-light,
//       tint-color($border, $button-hover-border-tint-amount),
//       shade-color($border, $button-hover-border-shade-amount)
//     ),
//   $hover-color: $white // color-contrast($hover-background)
// ) {
//   color: $color;
//   background-color: $background;
//   border-color: $border;

//   &:hover:not(:disabled):not(.disabled) {
//     color: $hover-color;
//     background-color: $hover-background;
//     border-color: $hover-border;
//   }
// }
