.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  color: $white-color;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: nowrap;

  &:focus {
    outline: none;
  }
  span[data-role="remove"]:focus {
    outline: none;
  }

  &-round {
    border-radius: 50%;
  }
}
.badge-primary {
  background-color: $primary-color;
}
.badge-info {
  background-color: $info-color;
}
.badge-success {
  background-color: $success-color;
}
.badge-warning {
  background-color: $warning-color;
}
.badge-danger {
  background-color: $danger-color;
}
.badge-default {
  background-color: $default-color;
}
