.form {
  &-control {
    outline: none;
    user-select: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #66615b;
    font-size: $font-size;
    transition: background-color 0.3s ease 0s;
    padding: 7px 12px;
    height: 40px;
  }
}
