.loading__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.preloading {
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

// Layout
.app-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  position: relative;
  display: flex;
  flex: 0 0 16rem;
  flex-direction: column;
  order: -1;
  width: 16rem;
  padding: 0;
  color: $sidebar-color;
  background: $sidebar-bg;
  transition: $sidebar-transition;

  &-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1030;
  }

  &-brand {
    display: flex;
    flex: 0 0 4rem;
    align-items: center;
    justify-content: center;
  }

  &-nav {
    position: relative;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;

    &-item {
      width: inherit;
    }

    &-dropdown {
      position: relative;
      transition: background 0.15s ease-in-out;

      &.show {
        > .sidebar-nav-dropdown-items {
          max-height: 1500px;
        }
      }
    }

    &-dropdown-toggle,
    &-link {
      display: flex;
      flex: 1 1;
      align-items: center;
      padding: 0.8445rem 1rem;
      text-decoration: none;
      white-space: nowrap;
      transition: background 0.3s, color 0.3s;

      &:hover {
        text-decoration: none;
      }
    }

    &-dropdown-toggle {
      cursor: pointer;

      &::after {
        display: block;
        flex: 0 1 8px;
        height: 8px;
        content: "";
        background-repeat: no-repeat;
        background-position: 50%;
        transition: transform 0.3s;
      }
    }

    &-dropdown-items {
      max-height: 0;
      padding: 0;
      overflow-y: hidden;
      list-style: none;
      transition: max-height 0.3s ease-in-out;
    }

    &-icon {
      flex: 0 0 56px;
      height: 1.09375rem;
      font-size: 1.09375rem;
      text-align: center;
      transition: 0.3s;
      fill: currentColor;
    }

    &-title {
      padding: 0.75rem 1rem;
      margin-top: 1rem;
      font-size: 80%;
      font-weight: 700;
      text-transform: uppercase;
      transition: 0.3s;
    }
  }

  &-toggler {
    display: flex;
    flex: 0 0 3rem;
    justify-content: flex-end;
    width: inherit;
    padding: 0;
    cursor: pointer;
    border: 0;

    &::before {
      display: block;
      width: 4rem;
      height: 3rem;
      content: "";
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 0.75rem;
      transition: transform 0.15s;
    }
  }

  & {
    .sidebar-brand {
      color: $sidebar-brand-color;
      background-color: $sidebar-brand-bg;
    }

    .sidebar-nav-dropdown {
      &.show {
        background: $sidebar-nav-dropdown-bg;

        .sidebar-nav-dropdown-toggle,
        .sidebar-nav-link {
          color: #fff;
        }
      }
    }

    .sidebar-nav-dropdown-toggle,
    .sidebar-nav-link {
      color: hsla(0, 0%, 100%, 0.8);
      background: 0 0;

      .sidebar-nav-icon {
        color: hsla(0, 0%, 100%, 0.5);
      }

      &.active {
        .sidebar-nav-icon {
          color: #fff;
        }
      }
    }

    .sidebar-nav-dropdown-toggle {
      position: relative;

      &::after {
        background-image: url("data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0ncmdiYSgyNTUsMjU1LDI1NSwwLjUpJyBkPSdNOS4xNDggMi4zNTJsLTQuMTQ4IDQuMTQ4IDQuMTQ4IDQuMTQ4cTAuMTQ4IDAuMTQ4IDAuMTQ4IDAuMzUydC0wLjE0OCAwLjM1MmwtMS4yOTcgMS4yOTdxLTAuMTQ4IDAuMTQ4LTAuMzUyIDAuMTQ4dC0wLjM1Mi0wLjE0OGwtNS43OTctNS43OTdxLTAuMTQ4LTAuMTQ4LTAuMTQ4LTAuMzUydDAuMTQ4LTAuMzUybDUuNzk3LTUuNzk3cTAuMTQ4LTAuMTQ4IDAuMzUyLTAuMTQ4dDAuMzUyIDAuMTQ4bDEuMjk3IDEuMjk3cTAuMTQ4IDAuMTQ4IDAuMTQ4IDAuMzUydC0wLjE0OCAwLjM1MnonLz48L3N2Zz4=");
      }
    }

    .sidebar-nav-title {
      color: hsla(0, 0%, 100%, 0.6);
    }

    .sidebar-toggler {
      background-color: rgba(0, 0, 21, 0.2);

      &:hover {
        background-color: rgba(0, 0, 21, 0.2);
      }

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nIzhhOTNhMicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+");
      }
    }
  }
}

.wrapper {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  min-width: 0;
  min-height: 100vh;
  transition: margin 0.3s;
  margin-left: 16rem;

  &:not(.wrapper-fluid) {
    .header-fixed {
      position: sticky;
      top: 0;
    }
  }
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  min-height: 56px;
  background: #fff;
  border-bottom: 1px solid #d8dbe0;

  &.header-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1029;
  }

  &-toggler {
    min-width: 50px;
    font-size: 1.09375rem;
    background-color: transparent;
    border: 0;
    border-radius: 0.25rem;
    margin-left: 1rem;

    &:not(:disabled):not(.disabled) {
      cursor: pointer;
    }

    > .header-toggler-icon {
      position: relative;
      width: 26px;
      height: 22px;
      margin: 0 auto;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;

      .topbar,
      .middlebar,
      .bottombar {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: currentColor;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
      }

      .topbar {
        top: 2px;
      }

      .middlebar {
        top: 9px;
      }

      .bottombar {
        top: 16px;
      }
    }

    &.open {
      > .header-toggler-icon {
        .topbar {
          top: 9px;
          transform: rotate(135deg);
        }

        .middlebar {
          opacity: 0;
          left: -60px;
        }

        .bottombar {
          top: 9px;
          transform: rotate(-135deg);
        }
      }
    }
  }

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 56px;
    padding: 0;
    margin-bottom: 0;
    list-style: none;

    &.header-nav-left {
      margin-right: auto !important;
    }

    .header-nav-item,
    .header-nav-dropdown {
      position: relative;
      padding: 0 1rem;
    }

    .header-nav-button,
    .header-nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 0.5rem;
      padding-left: 0.5rem;

      &:hover {
        text-decoration: none;
      }

      .badge {
        position: absolute;
        top: 50%;
        margin-top: -16px;
      }
    }

    .header-nav-button {
      background-color: transparent;
      border: 0;

      &:not(:disabled):not(.disabled) {
        cursor: pointer;
      }
    }
  }

  & {
    .header-toggler {
      color: rgba(0, 0, 21, 0.5);
      border-color: rgba(0, 0, 21, 0.1);
    }

    .header-nav {
      .header-nav-dropdown-toggle,
      .header-nav-button,
      .header-nav-link {
        color: rgba(0, 0, 21, 0.5);
      }

      .header-nav-dropdown-toggle {
        &:not(:disabled):not(.disabled) {
          cursor: pointer;
        }
      }
    }
  }
}

.user-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;

  .user-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  .user-info {
    .username,
    .role {
      width: 100px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .username {
      font-weight: 500;
    }
  }
}

.dark-theme {
  color: #e1e1e1;
  background-color: #181924;

  .sidebar {
    color: $dark-sidebar-color;
    background-color: $dark-sidebar-bg;
    border: 0;

    .sidebar-brand,
    .sidebar-header {
      background: rgba(0, 0, 21, 0.2);
    }

    .sidebar-nav-dropdown {
      &.show {
        background: $dark-sidebar-nav-dropdown-bg;

        .sidebar-nav-dropdown-toggle,
        .sidebar-nav-link {
          color: #fff;
        }
      }
    }

    .sidebar-nav-dropdown-toggle,
    .sidebar-nav-link {
      color: hsla(0, 0%, 100%, 0.8);
      background: 0 0;

      .sidebar-nav-icon {
        color: hsla(0, 0%, 100%, 0.6);
      }

      &.active {
        color: #fff;
        background: hsla(0, 0%, 100%, 0.05);

        .sidebar-nav-icon {
          color: #fff;
        }
      }

      &:hover {
        color: $white-color;
        background: $primary-color;
      }
    }

    .sidebar-nav-dropdown-toggle {
      position: relative;

      &::after {
        background-image: url("data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0ncmdiYSgyNTUsMjU1LDI1NSwwLjUpJyBkPSdNOS4xNDggMi4zNTJsLTQuMTQ4IDQuMTQ4IDQuMTQ4IDQuMTQ4cTAuMTQ4IDAuMTQ4IDAuMTQ4IDAuMzUydC0wLjE0OCAwLjM1MmwtMS4yOTcgMS4yOTdxLTAuMTQ4IDAuMTQ4LTAuMzUyIDAuMTQ4dC0wLjM1Mi0wLjE0OGwtNS43OTctNS43OTdxLTAuMTQ4LTAuMTQ4LTAuMTQ4LTAuMzUydDAuMTQ4LTAuMzUybDUuNzk3LTUuNzk3cTAuMTQ4LTAuMTQ4IDAuMzUyLTAuMTQ4dDAuMzUyIDAuMTQ4bDEuMjk3IDEuMjk3cTAuMTQ4IDAuMTQ4IDAuMTQ4IDAuMzUydC0wLjE0OCAwLjM1MnonLz48L3N2Zz4=");
      }
    }

    .sidebar-nav-title {
      color: hsla(0, 0%, 100%, 0.6);
    }

    .sidebar-toggler {
      background-color: rgba(0, 0, 21, 0.2);

      &:hover {
        background-color: rgba(0, 0, 21, 0.3);
      }

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0ncmdiYSgyNTUsMjU1LDI1NSwwLjUpJyBkPSdNOS4xNDggMi4zNTJsLTQuMTQ4IDQuMTQ4IDQuMTQ4IDQuMTQ4cTAuMTQ4IDAuMTQ4IDAuMTQ4IDAuMzUydC0wLjE0OCAwLjM1MmwtMS4yOTcgMS4yOTdxLTAuMTQ4IDAuMTQ4LTAuMzUyIDAuMTQ4dC0wLjM1Mi0wLjE0OGwtNS43OTctNS43OTdxLTAuMTQ4LTAuMTQ4LTAuMTQ4LTAuMzUydDAuMTQ4LTAuMzUybDUuNzk3LTUuNzk3cTAuMTQ4LTAuMTQ4IDAuMzUyLTAuMTQ4dDAuMzUyIDAuMTQ4bDEuMjk3IDEuMjk3cTAuMTQ4IDAuMTQ4IDAuMTQ4IDAuMzUydC0wLjE0OCAwLjM1MnonLz48L3N2Zz4=");
      }
    }
  }

  .header {
    background: #2a2b36;
    border-bottom: 0;

    .header-toggler {
      color: hsla(0, 0%, 100%, 0.75);
      border-color: hsla(0, 0%, 100%, 0.1);
    }

    .header-nav {
      .header-nav-dropdown-toggle,
      .header-nav-button,
      .header-nav-link {
        color: hsla(0, 0%, 100%, 0.75);

        &:focus,
        &:hover {
          color: hsla(0, 0%, 100%, 0.9);
        }
      }
    }
  }
}

html:not([dir="rtl"]) {
  .sidebar {
    border-right: 0 solid transparent;

    &:not(.sidebar-end) {
      margin-left: 0; // -256px;
    }
  }

  .sidebar-nav-icon:first-child {
    margin-left: -1rem;
  }

  .sidebar-nav-dropdown {
    &.show {
      > .sidebar-nav-dropdown-toggle::after {
        transform: rotate(-90deg);
      }
    }

    &-toggle::after {
      margin-left: auto;
    }

    &-items {
      .sidebar-nav-dropdown-toggle,
      .sidebar-nav-link {
        padding-left: 56px;
      }
    }
  }

  .header-nav {
    .header-nav-button,
    .header-nav-link {
      .badge {
        left: 50%;
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .sidebar {
    &.sidebar-fixed {
      box-shadow: $sidebar-elevation-shadow;

      &:not([class*="border"]) {
        border: 0;
      }
    }
  }

  html:not([dir="rtl"]) {
    .sidebar {
      &.sidebar-fixed:not(.sidebar-end) {
        left: 0;
      }
    }
  }

  .dark-theme {
    .sidebar {
      &.sidebar-fixed {
        box-shadow: $dark-sidebar-elevation-shadow;
      }
    }
  }
}

@media (max-width: 991.98px) {
  html:not([dir="rtl"]) {
    .sidebar:not(.show) {
      &.sidebar-self-hiding-md:not(.sidebar-end) {
        margin-left: -16rem;
      }
    }
  }
}

// @media (min-width: 992px) and (min-width: 992px) {
//   html:not([dir="rtl"]) {
//     .sidebar {
//       & {
//         &-lg-show,
//         &-show {
//           &:not(.sidebar-end) {
//             &.sidebar-fixed {
//               ~ .wrapper {
//                 margin-left: 256px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
