$font-color: #66615b !default;

$font-family-sans-serif: "Montserrat", "Helvetica", Arial, sans-serif;

$font-size-base: 14px !default;
$font-size-small: 12px !default;
$font-size-medium: 16px !default;
$font-size-large: 20px !default;
$font-size-h1: 3.6em !default;
$font-size-h2: 2.8em !default;
$font-size-h3: 1.825em !default;
$font-size-h4: 1.6em !default;
$font-size-h5: 1.35em !default;
$font-size-h6: 0.9em !default;
$font-size-paragraph: 15px !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semi: 500 !default;
$font-weight-bold: 600 !default;
