<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <title>{% block title %}CMS - Travel Website!{% endblock %}</title>

        <link rel="shortcut icon" href="{{ asset("build/website/images/favicon.png") }}" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{ asset("build/website/images/favicon.png") }}" type="image/x-icon" />

        {% block stylesheets %}
            {{ encore_entry_link_tags("bundle", null, "admin") }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags("bundle", null, "admin") }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="root"></div>
        {% endblock %}
    </body>
</html>
